<!-- <h1>Battle View</h1> -->
<!-- {{bc.data.list}} -->
<!-- <div ng-repeat="">
    <p></p>
</div> -->




<div class="container-fluid page-background">
    <div class="row">
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Enemy</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[3].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[3].morale}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Friendly</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[0].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[0].morale}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Enemy</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[4].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[4].morale}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Friendly</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[1].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[1].morale}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Enemy</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[5].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[5].morale}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Friendly</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Power: {{bc.data.list[2].power}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span>Morale: {{bc.data.list[2].morale}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{bc.regiments}}
    {{bc.messages}}
    <!-- <div class="row">
        <div class="col-xs-12 front"></div>
    </div> -->
</div>