<h1>Battle View</h1>
{{bc.data.list}}
<!-- <div ng-repeat="">
    <p></p>
</div> -->




<!-- <div class="container-fluid lightBrown">
    <div class="row">
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid front">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 front"
    </div>
</div> -->